footer {
  background: var(--footer);
  padding-top: 2em;
  padding-bottom: 2em;
  color: #fff;

  .footer-site-title {
    display: flex;
    align-items: center;
    font-size: 30px;

    img {
      width: 35px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .mail {
    display: flex;
    align-items: center;
    margin-top: 1em;

    img {
      width: 32px;
      margin-right: 10px;
      display: block;
    }

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      font-size: 18px;
    }
  }

  ul {
    list-style-type: none;
    margin-top: 1em;

    li {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
    }
  }

  .social-media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    img {
      width: 32px;
      fill: var(--main);
    }
  }
}

@media only screen and (min-width: 1024px) {
  footer {
    .mail {
      a {
        transition: all 0.3s;
      }
      a:hover {
        color: var(--main);
      }
    }

    ul {
      li {
        a {
          transition: all 0.3s;
        }
        a:hover {
          color: var(--main);
        }
      }
    }

    .social-media {
      width: 30%;
      img {
        width: 36px;
        cursor: pointer;
        transition: all 0.3s;
      }

      img:hover {
        transform: scale(1.1);
      }
    }
  }
}
